<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/styles.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>My-Portfolio</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Sahil</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#hobby" class="nav__link">Hobbies</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Sahil</span><br> Web Developer</h1>

                    <a href="/resume/Sahil_Punjabi_Resume (1).pdf" download class="button">Download Resume</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/sahil-punjabi-884a811b0/" class="home__social-icon" target="_blank"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://www.instagram.com/panjabisahil/" class="home__social-icon" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://github.com/Sahil412000" class="home__social-icon" target="_blank"><i class='bx bxl-github' ></i></a>
                </div>

                <div class="home__img">    
                    <img src="/images/home_img.png" alt="">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="/images/me.jpeg" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am Sahil</h2>
                        <p class="about__text">I’m a junior web developer and living in Pimpri, Pune, India. I spend my days with my hands in many different areas of web development from back end programming (SQL, MongoDB, Node.js) to front end engineering (HTML, CSS, Javascript, Bootstrap, ReactJS), user experience and visual design.

                            I’m extremely passionate about web development and design in all it’s forms. Aside from web development, I enjoy taking photos, listening to music, playing & watching sports (Cricket, Badminton, Volleball), cooking delicious food.</p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Technical Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">I spend my days with my hands in many different areas of web development from back end programming (SQL, MongoDB, Node.js) to front end engineering (HTML, CSS, Javascript, Bootstrap, ReactJS)</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">95%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">75%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-react skills__icon'></i>
                                <span class="skills__name">ReactJS</span>
                            </div>
                            <div class="skills__bar skills__ux">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-bootstrap skills__icon'></i>
                                <span class="skills__name">Bootstrap</span>
                            </div>
                            <div class="skills__bar skills__bootstrap">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">90%</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>              
                        <img src="/images/skills.jpg" alt="" class="skills__img">
                    </div>
                </div>
            </section>
            
            <!--=====Hobbies=====-->
            <section class="skills section" id="hobby">
                <h2 class="section-title">Hobbies & Interests</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">My Interests</h2>
                        <p class="skills__text">I’ve played sports since high school, so I joined a local cricket league to stay in shape and meet new people in the area. 
                            I love traveling, it allows me to adapt to new situations and use my organization and planning skills to ensure I have the most fun I can.
                            I always enjoy singing and listening to music which is my major hobby.
                            Moreover recently I have been quite interested in cooking as well.
                        </p>
                    </div>
                    
                    <div>              
                        <img src="images/hobbies.jpg" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--=====Work====-->
            <section id="work">
                <div class="work_container">
                    <h2 class="section-title">Projects</h2>
                </div>
                <div class="work-content bd-grid">
                    <!-- Boxes -->
                    <div class="box">
                        <a href="https://hospital-sah-site.herokuapp.com/" target="_blank">
                        <img src="images/html.png" alt="">
                        <h1>FullStack Project</h1>
                        <p>Developed some full stack projects with emphasis on JavaScript, Express.js, MongoDB..</p>
                        </a>
                    </div>
        
                    <div class="box">
                        <a href="https://sahil412000.github.io/React-Budget-Calculator/" target="_blank">
                        <img src="/images/structure.png" alt="">
                        <h1>React.JS Project</h1>
                        <p>The main focus is to create reusable components that could be used in future projects.</p>
                        </a>
                    </div>
        
                    <div class="box">
                        <a href="https://sahil412000.github.io/Cafe-Cart/" target="_blank">
                        <img src="/images/js.jpg" alt="">
                        <h1>Javasript Project</h1>
                        <p>Developed some FrontEnd Projects with Vanilla JavaScript, HTML and CSS.</p>
                        </a>
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="/"  method = "POST" class="contact__form">
                        <input type="text" name = "name" placeholder="Name" class="contact__input">
                        <input type="mail" name = "email" placeholder="Email" class="contact__input">
                        <textarea name="message" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <button type= "submit" class="contact__button button">Submit</button>
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Sahil Punjabi</p>
            <div class="footer__social">
                <a href="https://www.linkedin.com/in/sahil-punjabi-884a811b0/" class="footer__icon" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://www.instagram.com/panjabisahil/" class="footer__icon" target="_blank"><i class='bx bxl-instagram' ></i></a>
                <a href="https://github.com/Sahil412000" class="footer__icon" target="_blank"><i class='bx bxl-github' ></i></a>
            </div>
            <p>&#169; 2020 copyright all right reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="js/main.js"></script>
    </body>
</html>